 * {
  margin:0px;
    padding:0px;

   }


   
   #header {
    margin:auto;
    width:780px;
    font-family:Arial, Helvetica, sans-serif;
	margin-right: auto;
	margin-left: auto;
	text-align: center;

    
   }
   
   ul, ol {
    list-style:none;
   }
   
   .nav > li {
    float:left;
   }
   
   .nav li a {
    background-image: url(fondo1.jpg);
    color:#fff;
    text-decoration:none;
    padding:20px 22px;
    display:block;
    width: 150px;
    text-align: center;

   

   }
   
   .nav li a:hover {
    background-color:#434343;
   }
   
   .nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
   }
   
   .nav li:hover > ul {
    display:block;
   }
   
   .nav li ul li {
    position:relative;
   }
   
   .nav li ul li ul {
    right:-140px;
    top:0px;
   }


body{ background-image: url(fondo1.jpg);
}


#contenedor{
	background: blue;
	height: 2000px;
	width: 780px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 75px;

}

header{
	background: #fff;
	width: 780px;
	height: 375px;
	
	

} 
.slider{
	width: 780px;
	overflow: hidden;
	margin: auto;

}

.slider ul{
	padding: 0;
	width: 2340px;
	display: flex;


	animation: cambio 20s infinite; 


}
.slider li{
	list-style: none;
	width: 780px;
	

}
.slider img{
	width: 85%;
	padding-left: 60px;
	padding-right: 10px;
	
}
#primera {
	padding-right: 20px;

	}
	#segunda {
	
	padding-top: 70px;
	}
	#tercera {
	
	padding-top: 75px;
	}


@keyframes cambio {
	0% { margin-left: 0;}
	35%	{margin-left: 0;}

	40%	{margin-left: -780px;}
	70%	{margin-left: -780px;}

	75%	{margin-left: -1560px;}
	100%{margin-left: -1560px;}

	



}


.primertitulo{list-style: none;
	background: #ECEEEE;
	}
#sinopsis {
	margin-left: 250px;
	margin: auto;
	width: 500px;
	text-align: center;
	position: absolute;
	list-style: none;
	text-align: justify;
	padding-left: 65px;

}
li img {
	padding-top: 30px;
	list-style: none;
	}
#parrafo {
	text-align: center;
	padding-bottom: 20px;


}	
#parrafo3{padding-top: 20px;

	}
h1{font-family: Helvetica, Arial, sans-serif; 
    font-size: 2.3em;
    line-height: 1.5em;
    color: black;

}

		
#segundapelicula{
	height: 400px;
	background: #ECEEEE;
	position: relative;
	margin-top:70px;
	list-style: none;
	text-align: justify;

	

	}
#segundapelicula li img{
	width: 184px;
	height: 275px;
	list-style: none;
	padding-right: 70px;
	
	}
	
	
#sinopsis2{display: flex;


	}
#p1{text-align: center;
	padding-bottom: 30px;
	width: 90%;
	}
#parra2{padding-bottom: 80px;


	}
#sinopsis2 li p{
	margin-right: 30px;
	}
#espacio0 {
	width: 780px;
	height: 20px;
	background-color: #030303;
	background: #030303;
	margin-bottom: : 100px;

}
#espacio1 {
	width: 780px;
	height: 20px;
	background-color: #030303;
	background: #030303;
	margin-bottom: : 100px;
}	
#tercerapelicula{
	height: 400px;
	background: #ECEEEE;
	position: relative;
	margin-top:70px;
	list-style: none;
	text-align: justify;
}

#sinopsis3{display: flex;


	}
#tercerapelicula li img{
	width: 184px;
	height: 275px;
	list-style: none;
	padding-right: 70px;
	
	}
#parrafo13{
	text-align: center;
	padding-bottom: 30px;
	width: 90%;
	}
#parra23{padding-bottom: 30px;

	}




#espacio2 {
	width: 780px;
	height: 20px;
	background-color: #030303;
	background: #030303;
	margin-bottom: : 100px;
}	
#cuartapelicula{
	height: 400px;
	background: #ECEEEE;
	position: relative;
	margin-top:70px;
	list-style: none;
	text-align: justify;
}

#sinopsis4{display: flex;


	}
#cuartapelicula li img{
	width: 184px;
	height: 275px;
	list-style: none;
	padding-right: 70px;
	
	}
#parrafo14{
	text-align: center;
	padding-bottom: 30px;
	width: 90%;
	}
#parra24{padding-bottom: 50px;
	}






#noticias{
	height: 215px;
	width: 760px;
	background: #fff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;

}

footer{
	background: blue;
	width: 780px;
	height: 60px;
}


.espacio{
	max-width: 100%;
	height: 
}