* {
  margin:0px;
    padding:0px;

   }


   
   #header {
    margin:auto;
    width:780px;
    font-family:Arial, Helvetica, sans-serif;
	margin-right: auto;
	margin-left: auto;
	text-align: center;

    
   }
   
   ul, ol {
    list-style:none;
   }
   
   .nav > li {
    float:left;
   }
   
   .nav li a {
    background-image: url(fondo1.jpg);
    color:#fff;
    text-decoration:none;
    padding:20px 22px;
    display:block;
    width: 150px;
    text-align: center;

   

   }
   
   .nav li a:hover {
    background-color:#434343;
   }
   
   .nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
   }
   
   .nav li:hover > ul {
    display:block;
   }
   
   .nav li ul li {
    position:relative;
   }
   
   .nav li ul li ul {
    right:-140px;
    top:0px;
   }


body{ background-image: url(fondo1.jpg);
}


#contenedor{
	background: blue;
	height: 1100px;
	width: 780px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 75px;

}

header{
	background: #fff;
	width: 780px;
	height: 1000px;
	
	

	



}


.primertitulo{list-style: none;
	background: #ECEEEE;
	height:1000px;
	}
.primertitulo img{width: 184px;
	height: 320px;
	list-style: none;
	padding-right: 30px;
    margin-left: 20px;
    margin-top: 14px;;
	}
#sinopsis {
	
	
	width: 500px;
	
	position: absolute;
	list-style: none;
	text-align: justify;
	

}
 
#parrafo {
	
	padding-bottom: 20px;


}	
#parrafo3{padding-top: 20px;

	}
h1{font-family: Helvetica, Arial, sans-serif; 
    font-size: 2.3em;
    line-height: 1.5em;
    color: black;

}
p{font-family: Helvetica, Arial, sans-serif; 
    font-size: 1.2em;
    line-height: 1.5em;
    color: black;

}
#segunda{margin-top: 30px;
	padding-top: 40px;

}
#tercera{position: absolute;

}

footer{
	background: blue;
	width: 780px;
	height: 20px;
}


.espacio{
	max-width: 100%;
	height: 
}