 * {
  margin:0px;
    padding:0px;
   }
   
   #header {
   	padding-left: 13px;
    margin:auto;
    width:790px;
    font-family:Arial, Helvetica, sans-serif;
	margin-right: auto;
	margin-left: auto;
	text-align: center;

    
   }
   
   ul, ol {
    list-style:none;
   }
   
   .nav > li {
    float:left;
   }
   
   .nav li a {
    background-image: url(fondo1.jpg);
    color:#fff;
    text-decoration:none;
    padding:20px 22px;
    display:block;
    width: 150px;
    text-align: center;

   

   }
   
   .nav li a:hover {
    background-color:#434343;
   }
   
   .nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
   }
   
   .nav li:hover > ul {
    display:block;
   }
   
   .nav li ul li {
    position:relative;
   }
   
   .nav li ul li ul {
    right:-140px;
    top:0px;
   }


	
body{background-image: url(fondo1.jpg);   
	

}

#contenedor{
	background: #6AB3CD ;
	height: 2200px;
	width: 780px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 75px;


} 
#titulo img{
	width: 50%;
	padding-left: 189px;
	
}
header{
	
	width: 780px;
	height: 400px;
	
	

} 
.slider{
	width: 780px;
	overflow: hidden;
	margin: auto;
	 

}

.slider ul{
	padding: 0;
	width: 2340px;
	display: flex;


	animation: cambio 20s infinite; 
 

}
.slider li{
	list-style: none;
	width: 780px;
	  
	

}
.slider img{
	width: 85%;
	padding-left: 60px;
	padding-right: 10px;
	
	
}
#primera {
	padding-right: 20px;
	 

	}
	#segunda {
		 
	
	padding-top: 10px;
	}
	#tercera {
	 
	padding-top: 75px;
	}


@keyframes cambio {
	0% { margin-left: 0;}
	35%	{margin-left: 0;}

	40%	{margin-left: -780px;}
	70%	{margin-left: -780px;}

	75%	{margin-left: -1560px;}
	100%{margin-left: -1560px;}

	



}

#banner{
	height: 800px;
	position: relative;
}

#banner h1{width: 100%;
	height: 50px;
	padding-top: 50px;
	padding-left: 10px;
	padding-bottom: 10px;

}
#banner p{color: black;
	position: absolute;
	top: 120px;
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 20px;

	
	font-size: 1.5rem;
	vertical-align: sub;
	text-align: justify;
	}

#espacioa{ height: 180px;
	width: 100%;

}
#espaciob{ height: 10px;
	width: 100%;}
#espacioc{ height: 10px;
	width: 100%;}

iframe{padding-left: 110px;
list-style: none;
padding-bottom: 50px;
}

#datoscuriosos {
	height: 500px;
    
	width: 780px;
	
}
#datoscuriosos p {
	margin-top: 0px;
	margin-right: 50px;
	margin-left: 20px;
	text-align: justify;
	position: relative;
	
	}


h1{font-family: Helvetica, Arial, sans-serif; 
    font-size: 3em;
    line-height: 1.5em;
    color: black;


}

footer{
	background: #f21;
	width: 780px;
	height: 60px;
	margin: auto;
}


}
.espacio{
	max-width: 100%;
	height: 
}