 * {
  margin:0px;
    padding:0px;
   }
   
   #header {
   	padding-left: 13px;
    margin:auto;
    width:790px;
    font-family:Arial, Helvetica, sans-serif;
	margin-right: auto;
	margin-left: auto;
	text-align: center;

    
   }
   
   ul, ol {
    list-style:none;
   }
   
   .nav > li {
    float:left;
   }
   
   .nav li a {
    background-image: url(fondo1.jpg);
    color:#fff;
    text-decoration:none;
    padding:20px 22px;
    display:block;
    width: 150px;
    text-align: center;

   

   }
   
   .nav li a:hover {
    background-color:#434343;
   }
   
   .nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
   }
   
   .nav li:hover > ul {
    display:block;
   }
   
   .nav li ul li {
    position:relative;
   }
   
   .nav li ul li ul {
    right:-140px;
    top:0px;
   }


	
body{background-image: url(fondo1.jpg);   
	

}

#contenedor{
	background: #6AB3CD ;
	height: 1050px;
	width: 780px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 75px;


}

header{
	
	width: 780px;
	height: 340px;
	
	

} 
.slider{
	width: 780px;
	overflow: hidden;
	margin: auto;
	 

}

.slider ul{
	padding: 0;
	width: 2340px;
	display: flex;


	animation: cambio 20s infinite; 
 

}
.slider li{
	list-style: none;
	width: 780px;
	  
	

}
.slider img{
	width: 85%;
	padding-left: 60px;
	padding-right: 10px;
	
	
}
#primera {
	padding-right: 20px;
	width: 780px;
	height: 500px;
	 

	}
	#segunda {
		 
	
	padding-top: 10px;
	}
	#tercera {
	 
	padding-top: 75px;
	}


@keyframes cambio {
	0% { margin-left: 0;}
	35%	{margin-left: 0;}

	40%	{margin-left: -780px;}
	70%	{margin-left: -780px;}

	75%	{margin-left: -1560px;}
	100%{margin-left: -1560px;}

	



}

#banner{
	margin-top: 30px;
	height: 303px;
	
	position: relative;
}
#banner p{color: black;
	position: absolute;
	top: 80px;
	margin: 0.
	padding-top:20px;

	padding: 0 1rem;
	font-size: 1.5rem;
	vertical-align: middle;
	text-align: justify;
	}


#noticias{
	height: 215px;
	width: 760px;
	background: #fff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;

}
#tienda{
	height: 180px;
	background: #062044;
}
footer{
	background: #f21;
	width: 780px;
	height: 60px;
}
 #noticia1{
	width: 250px;
	height: 215px;
	display: inline-block;
	vertical-align: top;
}
#noticia1 img{
	width: 100%;
	height: 100%;
}

#noticia2
{
	background: #062044;
	width: 250px;
	height: 215px;
	display: inline-block;
	vertical-align: top;
}
#noticia2 img
{   
	width: 100%;
	height:100%;
	}
#noticia3 img
{   
	width: 100%;
	height:100%;
	}
#noticia3{
	background: #062044;
	width: 250px;
	height: 215px;
	display: inline-block;
	vertical-align: top;
}
.espacio{
	max-width: 100%;
	height: 
}